/* Isaac WU Word Guess Game */

.backimg{
    background-image: url("../images/darkness.png");
}

.iw-can {
    padding-bottom: 50px;
}

.iw-1{
    font-family: 'Monoton', cursive;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    margin-top: 20px;
    padding:35px;
    font-size: 35px;
    color: rgb(195, 205, 218);
}

#crystal {
    width: 80px;
}

.iw-2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 25px;
    color: rgb(195, 205, 218);
}

.iw-3 {
    /* background-image: url("../images/crystal.gif"); */
    float: left;
    position: absolute;
    color: rgb(195, 205, 218);
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    text-align: center;
    color: rgb(195, 205, 218);
}

#player-typed {
    font-size: 25px;
}

.bgm{
    visibility: hidden;
}

footer {
    float: left;
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    font-size: 12px;
    color: rgb(195, 205, 218);
    height: 40px;
    }

.leftpic {
    position: absolute;
    left: 120px;
}
.leftpic2 {
    position: absolute;
    top: -170px;
    left: 15px;
}

.rightpic {
    position: absolute;
    top: 100px;
    left: 800px;
}
.rightpic2 {
    position: absolute;
    top: 0px;
    left: 700px;
}
/*--========================================================================================================================================
 MEDIA QUERY       MEDIA QUERY       MEDIA QUERY       MEDIA QUERY       MEDIA QUERY       MEDIA QUERY       MEDIA QUERY       MEDIA QUERY
==========================================================================================================================================-*/
  /*-------------------- media query must set at the bottom of css file, or it will be overwrited by css style --------------------------*/

@media (min-width: 992px) and (max-width: 1200px) {
    .leftpic {
        position: absolute;
        left: 40px;
    }
    .leftpic2 {
        position: absolute;
        top: -170px;
        left: -65px;
    }

    .rightpic {
        position: absolute;
        top: 100px;
        left: 720px;
    }
    .rightpic2 {
        position: absolute;
        top: 0px;
        left: 620px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .leftpic {
        position: absolute;
        left: -80px;
    }
    .leftpic2 {
        position: absolute;
        top: -175px;
        left: -190px;
    }

    .rightpic {
        position: absolute;
        top: 100px;
        left: 600px;
    }
    .rightpic2 {
        position: absolute;
        top: 0px;
        left: 500px;
    }
}

@media (min-width: 575px) and (max-width: 767px) {
    .leftpic {
        position: absolute;
        top: -120px;
        left: 0px;
        height: 100px;
    }
    .leftpic2 {
        position: absolute;
        top: -220px;
        left: -65px;
        height: 200px;
    }

    .rightpic {
        position: absolute;
        top: -115px;
        left: 400px;
        height: 100px;
    }
    .rightpic2 {
        position: absolute;
        top: -165px;
        left: 350px;
        height: 150px;
    }
}

@media (max-width: 574px) {
    .leftpic {
        position: absolute;
        top: -70px;
        left: 0px;
        height: 50px;
    }
    .leftpic2 {
        position: absolute;
        top: -150px;
        left: -65px;
        height: 100px;
    }

    .rightpic {
        position: absolute;
        top: -70px;
        left: 310px;
        height: 50px;
    }
    .rightpic2 {
        position: absolute;
        top: -120px;
        left: 260px;
        height: 75px;
    }
}